
body{
    background-color: #F2F2F2
}

#ynov img {
    vertical-align: middle;
}

#photo {
    
    width: 250px;
    height: 250px;
    display: block;
    background-image: url(../img/Photo_blanche.png);
    margin-left: 70%;
    position: absolute;
 
    
}

@font-face {
    font-family: "BebasNeue";
    src: url('BebasNeue.otf');
    } 

#photo:hover{
   
    background-image: url(../img/Photo_noir.png);
    height: 250px;
    width: 250px;
    
}

#nom p {
    
    font-family: "BebasNeue", sans-serif;
    display:table;
    color:#fff; 
    font-size:100px;
    text-shadow:2px 2px 15px rgba(0,0,0,0.8); 
    position: absolute;
    margin-top: 2%;
    margin-left : 7%;
}

#mail p {
    
    font-family: "BebasNeue", sans-serif;
    display:table;
    color:#fff; 
    font-size:50px;
    text-shadow:2px 2px 15px rgba(0,0,0,0.8); 
    position: absolute;
    margin-top: 12%;
    margin-left : 7%;
}

#comple p {
    
    font-family: "BebasNeue", sans-serif;
    display:table;
    color:#fff; 
    font-size:50px;
    text-shadow:2px 2px 15px rgba(0,0,0,0.8); 
    position: absolute;
    margin-top: 30%;
    margin-left : 7%;
}
